<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS</title>
</head>

<body>
    <nav>
        <div class="site-title">
            <a href="/">My Blog</a>
            <p>My Website</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New Blog</a></li>
        </ul>
    </nav>

    <div class="about content">
        <h2>
            About
        </h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores cupiditate cumque dicta, sint tempore reiciendis vero ex provident sunt tempora veritatis neque officia velit quos quam aperiam repellat ipsam veniam rerum asperiores. Incidunt, molestiae eos dolores provident corporis, deleniti iure labore, qui eius asperiores omnis quas? Corporis necessitatibus harum provident.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores cupiditate cumque dicta, sint tempore reiciendis vero ex provident sunt tempora veritatis neque officia velit quos quam aperiam repellat ipsam veniam rerum asperiores. Incidunt, molestiae eos dolores provident corporis, deleniti iure labore, qui eius asperiores omnis quas? Corporis necessitatibus harum provident.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores cupiditate cumque dicta, sint tempore reiciendis vero ex provident sunt tempora veritatis neque officia velit quos quam aperiam repellat ipsam veniam rerum asperiores. Incidunt, molestiae eos dolores provident corporis, deleniti iure labore, qui eius asperiores omnis quas? Corporis necessitatibus harum provident.</p>
    </div>
</body>

</html>